<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="learn.lhb.pms.mapper.rbac.TbAccountMapper">

    <resultMap id="TbAccountMap" type="learn.lhb.pms.domain.rbac.TbAccount">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="CHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="TINYINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="user_face" property="userFace" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 可重复引用的 -->
    <sql id="tbAccountColumns">
        `id`,`name`,`phone`,`email`,`telephone`,`enabled`,`username`,`password`,`user_face`,`remark`,`created`,`updated`
    </sql>
    <!-- 根据用户名查询数据库是否存在记录 -->
    <select id="loadUserByUsername" resultType="learn.lhb.pms.domain.rbac.TbAccount">
        SELECT <include refid="tbAccountColumns"/> FROM tb_account WHERE username=#{username}
    </select>

    <!-- 根据id获取权限 -->
    <select id="getTbAccountRolesById" resultType="learn.lhb.pms.domain.rbac.TbRole">
        SELECT r.* FROM tb_role r, tb_account_role ar WHERE ar.role_id = r.id
        AND ar.account_id = #{id}
    </select>

    <!-- 根据用户名获取用户表全部信息 -->
    <select id="getTbAccountByUsername" resultType="learn.lhb.pms.domain.rbac.TbAccount">
        SELECT * FROM tb_account WHERE username = #{username}
    </select>
</mapper>